body,
html {
  height: 100vh;
  margin: 0;
  background-image: url(images/background.webp);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: bicubic;
  overflow: hidden;
}

.start{
  font-size: 25vh;
  border-width:5px;
  border-style: ridge;
  padding-bottom: 0.5em;
}

.btnStart{
  margin-top: 20vh;
}

.count{
  text-align:right;
  padding-right:5vw;
  padding-top:5vh;
}